{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="r_A88QvdT4obsn0vig1pKeLcvW9YYcGIzlAnf2wuSyA" />
<meta name="msvalidate.01" content="A2AAC88F8F88793792513019E14BF723" />
<meta name="description" content="Activate your device easily at PeacockTV.com/tv – the official portal to link your Smart TV, Roku, Fire Stick, or console to your Peacock account and start streaming instantly." />
<meta name="keywords" content="Yt.be/activate, YouTube TV Setup, how to activate yt app,  yt be activate code tv, youtube activate smart tv, activate youtube, activate tv code, youtube tv activation, activate code youtube, youtube tv activate code," />
<meta name="robots" content="index, follow" />
<title>Yt.be/activate – How to Enter Your TV Code to YouTube TV Setup</title>
    {{ super() }}
{% endblock %}
